
<div class="container">
  <div class="pics-navbar clearfix"><img src="image/t_pic.png" class="pull-left"/>
    <ul class="list-inline pull-left">
      <li ng-class="currTab == 'm' ? 'active' : ''" ng-show="!teamTabVisible"><a href="" ng-click="changeTab(1)" class="btn btn-link">我的相册</a></li>
      <li ng-class="currTab == 'p' ? 'active' : ''" ng-show="!teamTabVisible"><a href="" ng-click="changeTab(2)" class="btn btn-link">公共相册</a></li>
      <li ng-class="currTab == 't' ? 'active' : ''" ng-show="teamTabVisible"><a href="" ng-click="changeTab(3)" class="btn btn-link">群组相册</a></li>
    </ul>
    <ul class="list-inline pull-right">
      <li><a href="" ng-show="showCreateButton" ng-click="showCreateDiv()" class="btn btn-success">创建相册</a></li>
      <li>
        <div ng-show="showUploadButton"><a href="" uploadify-directive="fileUpload" id="fileUpload" class="btn btn-success">上传图片</a></div>
      </li>
    </ul>
  </div>
  <div ng-show="showCreateFolderDiv" class="docs-navbar clearfix"><span>相册名称:
      <input type="text" ng-model="addFolder.folderName"/></span><span>
      <input ng-disabled="addFolderBtnFlag" type="button" ng-click="addFolder()" value="新增相册" class="btn btn-success"/></span></div>
  <div ng-show="showUpdateFolderDiv" class="docs-navbar clearfix"><span>相册名称:
      <input type="text" ng-model="imageFolder.folderName"/></span><span>
      <input ng-disabled="updateFolderBtnFlag" type="button" ng-click="imageFolderUpdate()" value="更新"/></span></div>
  <div ng-show="showMyFolderAndBtn" class="pics-grid">
    <div ng-repeat="f in myFolders" class="pics-folder col-md-2">
      <div class="inner"><a href="" ng-click="initImageList(f.id)" class="avatar-grid"><img src="..{{f.imageFolderCover}}" class="item"/></a>
        <div class="name text-center"><a href="" title="{{f.folderName}}" ng-click="initImageList(f.id)">{{f.folderName}}</a></div>
        <div class="action btn-group"><a href="" ng-click="showImageFolder(f.id)" class="btn btn-link btn-sm"><span class="fa fa-pencil fa-fw"></span>改名</a><a ng-show="{{f.isDefault != 1}}" href="" confirm-directive="" title="确认删除吗?" data-folderid="{{f.id}}" ok-fn="delImageFolder(config,attr)" class="btn btn-link btn-sm"><span class="fa fa-trash-o fa-fw"></span>删除</a></div>
      </div>
    </div>
  </div>
  <div ng-show="showSystemFolder" class="pics-grid">
    <div ng-repeat="f in systemFolders" class="pics-folder col-md-2">
      <div class="inner"><a href="" ng-click="initImageList(f.id)" class="avatar-grid"><img src="..{{f.imageFolderCover}}" class="item"/></a>
        <div class="name text-center"><a href="" title="{{f.folderName}}" ng-click="initImageList(f.id)">{{f.folderName}}</a></div>
      </div>
    </div>
  </div>
  <div ng-show="showTeamImageFolder" class="pics-grid">
    <div ng-repeat="f in teamImageFolder" class="pics-folder col-md-2">
      <div class="inner"><a href="" ng-click="initImageList(f.id)" class="avatar-grid"><img src="..{{f.imageFolderCover}}" class="item"/></a>
        <div class="name text-center"><a href="" title="{{f.folderName}}" ng-click="initImageList(f.id)">{{f.folderName}}</a></div>
      </div>
    </div>
  </div>
  <div ng-show="showFileList" class="pics-grid">
    <div ng-repeat="i in imageList" class="pics-folder col-md-2">
      <div><a href="../{{i.maxUri}}" target="_blank"><img ng-src="../{{i.minUri}}"/></a>
        <div class="action btn-group"><a ng-show="showDelBtn || (isManager == '1')" confirm-directive="" title="确认删除吗?" data-folderid="{{currFolderId}}" data-imageid="{{i.id}}" ok-fn="delImg(config,attr)" class="btn btn-link btn-sm">删除</a><a ng-click="shareImage(i)" class="btn btn-link btn-sm">分享</a><a ng-click="transImage(i)" class="btn btn-link btn-sm">转发</a></div>
      </div>
    </div>
  </div>
</div>