<!DOCTYPE html>
<html lang="zh" ng-app="vsApp">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatiable" content="IE=Edge,chrome=1">
    <title>iris</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="creator" content="iris">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-50444946-1', 'six4.org');
      ga('require', 'linkid', 'linkid.js');
      
    </script>
    <link href="common/bootstrap.css" rel="stylesheet">
    <link href="common/vendor.css" rel="stylesheet">
    <link href="iris.css" rel="stylesheet">
  </head>
  <body class="signin-page">
    <section ng-controller="signupController" class="signup col-md-5 col-md-offset-3">
      <form novalidate name="signupForm" ng-submit="signup()" class="form-horizontal">
        <fieldset class="title">
          <legend>注册<a href="../login" class="btn btn-link pull-right">登录</a></legend>
        </fieldset>
        <fieldset class="addition">
          <legend>必填项</legend>
          <div class="form-group">
            <label class="control-label col-md-3">手机号：</label>
            <div class="col-md-9">
              <input type="text" autocomplete="off" name="loginName" ng-model="register.loginName" placeholder="请输入您的手机号" ng-pattern="/^\d+$/" required ng-trim class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">密码：</label>
            <div class="col-md-9">
              <input type="password" autocomplete="off" name="plainPassword" ng-model="register.plainPassword" placeholder="请输入您的密码" required ng-trim ng-pattern="/^.{6,20}$/" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">重复密码：</label>
            <div class="col-md-9">
              <input type="password" autocomplete="off" name="repassword" ng-model="repassword" placeholder="请再次输入您的密码" required ng-trim class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">昵称：</label>
            <div class="col-md-9">
              <input type="text" autocomplete="off" name="aliasName" ng-model="register.aliasName" placeholder="请输入全名大家才好记得您" required ng-trimng-trim ng-pattern="/^.{2,10}$/" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">真实姓名：</label>
            <div class="col-md-9">
              <input type="text" autocomplete="off" name="trueName" ng-model="register.trueName" placeholder="请输入你的真实姓名" required ng-trimng-trim ng-pattern="/^.{2,10}$/" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">所属部门：</label>
            <div class="col-md-9">
              <input type="text" autocomplete="off" name="dep" ng-model="register.department" placeholder="所属部门" typeahead="state as state.departmentName for state in depList | filter:{departmentName:$viewValue}" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">验证码：</label>
            <div class="col-md-5">
              <input type="text" autocomplete="off" name="validateCode" ng-model="register.validateCode" placeholder="请输入验证码" required ng-trim ng-pattern="/^\w{6}$/" class="form-control">
            </div>
            <div class="col-md-4">
              <button type="button" ng-disabled="sendValidateCode" ng-click="getValidateCode()" ng-init="validateCodeText = '获取验证码'" ng-cloak class="form-control btn btn-warning">{{validateCodeText}}</button>
            </div>
          </div>
        </fieldset>
        <fieldset class="addition">
          <legend>选填项</legend>
          <div class="form-group">
            <label class="control-label col-md-3">生日：</label>
            <div class="col-md-9">
              <input ui-mask="9999-99-99" autocomplete="off" ng-pattern="/\d{4}-\d{2}-\d{2}/" type="text" name="birthday" placeholder="xxxx-xx-xx" ng-model="register.birthday" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">所在地：</label>
            <div class="col-md-9">
              <input type="text" autocomplete="off" ng-maxlength="150" name="address" placeholder="输入您的所在地" ng-model="register.address" ng-trim class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3">电子邮件：</label>
            <div class="col-md-9">
              <input type="email" autocomplete="off" ng-maxlength="150" name="email" placeholder="输入您的电子邮件地址" ng-model="register.email" ng-trim class="form-control">
            </div>
          </div>
        </fieldset>
        <fieldset class="action clearfix">
          <div class="form-group">
            <div class="col-md-12">
              <div style="color:red;" ng-cloak class="pull-left col-md-offset-3">&nbsp;&nbsp;{{validInfo}}</div>
              <button type="submit" ng-disabled="submitting" class="btn btn-warning pull-right"><span class="bicon bicon-ok"></span>注册</button>
            </div>
          </div>
        </fieldset>
      </form>
    </section>
    <script src="common/vendor.js"></script>
    <script src="common/angular.js"></script>
    <script src="iris.js"></script>
  </body>
</html>