.col-md-4
    aside.article.aside

      section.author
        h4.title
      //  .clearfix
          .avatar.pull-left
            a(ng-href="#/me/{{currId}}"): img(ng-src="../{{currImg}}")
          .info.pull-left
            h4
              a(ng-href="#/me/{{currId}}") {{currName}}

      section.hot
        h4.title 还没想好这块区放什么
        ul.list-unstyled
          li: 也许以后这里是放广告
