.wysiwyg-color-black {
  color: black;
}


.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-color-orange {
  color: orange;
}
blockquote {
    border-left: 5px solid #E7E8E9 ;!import
    margin: 0 0 20px;
    padding: 0 0 0 15px;
}
blockquote p {
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 0;
}
blockquote small {
    color: #818181;
    display: block;
    line-height: 20px;
}
blockquote small:before {
    content: "\2014 \00A0";
}
blockquote.pull-right {
    border-left: 0 none;
    border-right: 5px solid #E7E8E9;
    float: right;
    padding-left: 0;
    padding-right: 15px;
}
blockquote.pull-right p, blockquote.pull-right small {
    text-align: right;
}
blockquote.pull-right small:before {
    content: "";
}
blockquote.pull-right small:after {
    content: "\2014 \00A0 ";
}
/* p{
	text-indent:2em;
} */
img{

}