section.group-help
    .alert.alert-success
        h4 提示：
        p 群组是用户的组合，给群组发送消息就相当于同时给这个群组里的所有用户发送消息。
        p 您可以把群组看做是邮件列表，多多利用群组的特性，可以给日常沟通和交流带来极大的便利。
        hr
        p 第一次创建群组时，如果您对各种选项不很熟悉也不要紧，只要选择您希望包括的用户就可以了。
        p 之后您可以继续编辑修改群组的选项，也可以添加／删除群组成员。
