form.group-new(name="newTeamForm")
    h3.title 修改群组
      a.btn.btn-warning.pull-right(ng-href="#messages?q={{team.teamName}}") 查看消息
    include _basic
    include _member
    fieldset.action
        include _action
        .row
            .form-group.col-md-12
                button.btn.btn-warning(type="submit",ng-click="updateTeamInfo()")
                    span.bicon.bicon-ok
                    | 保存
                span(ng-cloak, ng-show="submited && newTeamForm.teamName.$invalid") 群组名称不能为空而且长度不能大于20个字符!
                span(ng-cloak, ng-show="checkName") 群组名称已经被使用!
