body,ul,ol,li,img {
	margin: 0;
	padding: 0
}

img {
	border: none;
}

li {
	list-style-type: none
}

#slider {
	margin: 0 auto;
	border: 1px solid #888
}

.show-box {
	height: auto;
	float: left;
	width: 100%;
	position: relative;
}

.show-box li {
	display: none;
	width: 100%;
	float: left;
	height: auto;
}

.show-box .show {
	display: block;
	/*_margin: 0 auto;_width:expression(eval(this.offsetWidth>643?643:this.offsetWidth))*/
}

.show-box img {
	display: block;
	max-width: 643px;
	margin: 0 auto;
	_width: 100%;
}

.show-btn {
	display: block;
	height: 100%;
	width: 50px;
	position: absolute;
	_height: expression(eval(this.parentNode.offsetHeight));
	*top: 0
}

.show-prev {
	left: 0;
}

.show-next {
	right: 0;
	_right: -1px
}

.show-btn span {
	height: 46px;
	display: block;
	position: absolute;
	top: 50%;
	width: 100%;
	cursor: pointer;
	margin-top: -23px;
	background:
		url(http://www.jq-school.com/upload/thumbs/ahtt/page_button.gif)
		no-repeat;
	_width: 49px
}

.show-prev span {
	background-position: -20px 0
}

.show-next span {
	background-position: -89px 0
}

/*小图列表部分*/
.minImgs {
	width: 100%;
	position: relative;
	margin-top: 20px;
	float: left;
	overflow: hidden;
}

.clear {
	clear: both;
}

.min-btn {
	width: 28px;
	position: absolute;
	top: 0;
	display: block;
	background:
		url(http://www.jq-school.com/upload/thumbs/ahtt/album-arrow.png)
		no-repeat
}

.min-prev {
	left: 0
}

.min-prev:hover {
	background-position: -28px 0
}

.min-next {
	right: 0;
	background-position: 0 -94px
}

.min-next:hover {
	background-position: -28px -94px
}

.min-box {
	width: 684px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	height: 76px;
	top: 8px
}

.min-box-list {
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	width: 776px
}

.min-box-list .cur {
	background: #F45E5E
}

.min-box-list li {
	height: 70px;
	width: 76px;
	padding: 3px 0;
	float: left;
	cursor: pointer
}

.min-box-list li div {
	width: 70px;
	height: 70px;
	overflow: hidden;
	margin: 0 auto
}