@import "bootstrap/variables";
@import "bootstrap/mixins";

.big-number {
  font-size: 1.2em;
  letter-spacing: 2px;
}

.text-center {
  text-align: center;
}

.btn-operate {
  background-color: #c0ddf3;
  background-image: none;
  border: 1px solid #b1d9ef;
  color: #559fd2;

  &:hover {
    background-color: darken(#c0ddf3, 5%);
    color: #559fd2;
  }
}