@import "utilities";

.widget {
  margin: 10px 20px 10px 0;

  &.fast-post {
    margin: 20px;
    margin-left: 0;
  }

  .widget-header {
    padding-bottom: 5px;
    border-bottom: 2px solid $grayLighter;
    font-size: 16px;
    color: $grayDark;

    a {
      line-height: 24px;
    }
  }

  .widget-body {
    @include clearfix();
    color: #0175c1;
    font-size: 0.9em;

    .carousel {
      margin: 0 10px 10px;
    }

    .carousel-indicators {
      top: auto;
      bottom: 0;
      right: 0;

      li {
        background-color: $grayLight;
      }

      li.active {
        background-color: #0175C1;
      }
    }

    .pull-left {
        margin: 10px 0;

      &.text-center {
        margin-right: 20px;
      }

      img {
        margin: 10px 0;
      }

      > div {
        margin-bottom: 10px;
      }

      .state,
      .temp {
        font-size: 18px;
      }

      .state {
        margin-right: 10px;
      }

      .date,
      .wind {
        color: #64a9d7;
      }
    }
  }

  form {
    margin: 0;
  }

  &.stock {
    table {
      thead {
        color: $grayDark;
      }
      th, td {
        padding: 8px 4px;
        text-align: right;
      }
      tbody td {
        position: relative;

        .btn-link {
          position: absolute;
          left: -20px;
          color: #e6473d;
        }
      }
    }

    .addStock {
      padding: 0 10px 10px;
    }
  }
}