@import "global";

html.login {
  background: url(../img/bg-login.jpg) no-repeat 100% 25% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  body {
    padding-top: 0;
    background-color: transparent;
  }

  .wrapper .span12 {
    @include box-shadow(none);
    background-color: transparent;
  }
}

#loginForm {
  legend {
    font-size: 1.3em;
  }

  fieldset {
    padding: 15px;
    background-color: $grayLighter;
    border: 1px solid $grayLighter;
    border-radius: 5px;
  }
}

