@import "global";

ul.media-list.messages .media,
div.media {
  margin: 20px;
  margin-right: 0;
  padding: 20px 20px 10px;

  ol.carousel-indicators {
    li {
      background-color: $grayLight;
      &.active {
        background-color: #0175c1;
      }
    }
  }

  .carousel-inner > .item > .pull-left {
    margin-right: 10px;
  }

  &.main {
    margin-top: 20px;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 20px;
    }

    .media-body {
      p {
        text-indent: 2em;
        margin: 15px 0;
        &.date {
          text-indent: 0;
        }
      }

      blockquote {
        border-left-color: #64a9d7;
      }
    }

    form.media-voting,
    form.media-agenda {
      padding: 0 10px 10px;
      background-color: #fcf8e3;

      legend {
        margin-bottom: 0;

        small {
          color: $grayDarker;
        }
      }
    }
  }

  &.item, &.main {
    background-color: #e3f4fa;
    @include border-radius($borderRadiusLarge);
  }

  &.alert .media-body {
    h4 {
      margin-bottom: 20px;
    }

    .date {
      margin-bottom: 0px;
      color: $gray;
    }
  }

  &:last-of-type {
    margin-bottom: 10px;
  }

  a {
    font-weight: bold;
    text-align: center;
  }

  a .media-object {
    width: 40px;
    padding: 2px;
    background-color: $white;
    border: 1px solid lighten(#75b3dd, 25%);
  }

  .media-body {
    h4 {
      color: #0175c1;
    }

    .date {
      margin-top: 10px;
      color: #64a9d7;
      font-style: italic;
    }

    p {
      color: #696969;
    }

    img {
      width: 50%;
      margin-bottom: 10px;
      @include border-radius($borderRadiusLarge);

      &:hover {
        cursor: pointer;
      }
    }

    .read-more {
      @include clearfix();
      margin-bottom: 10px;
    }
  }

  .media-footer {
    @include clearfix();

    ul > li {
      padding: 0;
      line-height: 30px;

      &.divider {
        color: $grayLight;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }

  &.comments {
    margin: 0 0 20px 0;
    padding: 3px;
    background-color: #fcf8e3;
    border: 1px solid darken(#fbeed5, 5%);

    &:last-of-type {
      margin-bottom: 10px;
    }

    &.first {
      background-color: $white;
      border: 1px solid darken(#c6e3f3, 3%);
    }

    .media-body-wrapper {
      .pull-left {
        margin-right: 10px;
      }

      .media-meta {
        @include clearfix();

        .date, .floor {
          margin: 0 0 10px 0;
        }
      }
    }
  }

  hr {
    margin: 0 0 10px;
    border-top: 1px solid darken(#c6e3f3, 3%);
    border-bottom: 1px solid $white;
  }
}

div.media {
  .media-body {
    img {
      width: 100%;
    }
  }
}