@import "global";

.writer {
  fieldset {
    padding: 20px;
    background-color: #e3f4fa;
    border: 1px solid #c6e3f3;
    @include border-radius($baseBorderRadius);

    hr {
      border-top-color: #c6e3f3;
    }
  }

  label {
    color: #75b3dd;
  }

  textarea,
  input[type="text"] {
    border-color: #c6e3f3;
  }

  ul.nav.nav-tabs {
    margin: 0;
    li {
      font-size: 0.9em;
    }
  }

  .search-list {
    margin: 10px 0 0 12px;
    width: 180px;
    border-color: $grayLight;
  }

  .tab-content > .tab-pane {
    border: 1px solid #ddd;
    border-top: none;

    hr {
      margin: 10px 0;
    }

    ul.nav.nav-list {
      min-height: 360px;
      max-height: 360px;
      overflow-y: scroll;
    }
  }
}