
<div class="container page-wrapper">
  <div class="row">
    <div class="page-nav-back col-md-12"><a href="javascript:history.back()" class="btn btn-warning btn-back"><i class="fa fa-fw fa-arrow-left"></i>返回活动</a></div>
    <div class="program col-md-12">
      <article class="item event">
        <h3 class="item-title">{{project.projectName}}</h3>
        <figure class="item-figure"><img ng-src="{{project.maxImageUrl}}"/></figure>
        <p>描述:{{project.projectDesc}}	</p>
        <form novalidate="novalidate" name="enroll" ng-if="!isSignUp&amp;&amp;project.status==3" class="enroll row">
          <fieldset class="col-md-8">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>真实姓名 </label>
                  <input type="text" name="reamName" ng-model="realName" required="required" class="form-control"/>
                </div>
                <div class="form-group">
                  <label>手机号码</label>
                  <input type="phone" name="phoneNumber" ng-model="phoneNumber" required="required" class="form-control"/>
                  <div ng-cloak="ng-cloak" ng-show="submited" class="pull-left"><span ng-cloak="ng-cloak">{{errorMsg}}</span></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>所属单位</label>
                  <input type="text" name="orgInfo" ng-model="orgInfo" required="required" class="form-control"/>
                </div>
                <div class="form-group">
                  <label>职位名称</label>
                  <input type="text" name="title" ng-model="title" required="required" class="form-control"/>
                </div>
              </div>
            </div>
          </fieldset>
          <fieldset class="col-md-4">
            <div class="form-group">
              <button type="submit" ng-click="signUpSub()" class="btn btn-warning btn-lg btn-enroll">我要报名</button>
            </div>
          </fieldset>
        </form>
        <div ng-if="isShow" class="table-responsive">
          <h2><small>已报名人员名单</small></h2><a ng-if="isCreate" href="../mobile/signup/downloadSignUser/{{project.id}}" class="btn btn-warning btn-back">点击导出<i class="fa fa-fw fa-arrow-right"></i></a>
          <table class="table table-condensed table-hover">
            <thead>
              <tr>
                <th>编号</th>
                <th>真实姓名</th>
                <th ng-if="isCreate">手机号码</th>
                <th>所属单位</th>
                <th ng-if="isCreate">职位名称</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="signup in signList">
                <td>{{$index+1}}</td>
                <td>{{signup.realName}}</td>
                <td ng-if="isCreate">{{signup.phoneNumber}}</td>
                <td>{{signup.orgInfo}}</td>
                <td ng-if="isCreate">{{signup.title}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </article>
    </div>
  </div>
</div>