
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row profile-edit">
        <div class="col-md-8">
          <form ng-show="showEdit" novalidate="novalidate" name="userUpdateForm" ng-submit="userSub()" class="profile-form">
            <div class="form-group">
              <label>昵称：</label>
              <input type="text" ng-model="user.userName" name="userName" required="required" ng-minlength="2" ng-maxlength="10" class="form-control"/><span ng-cloak="ng-cloak" ng-show="subMark &amp;&amp; userUpdateForm.userName.$invalid">昵称不能为空,且长度为2-10个字符</span><span ng-hide="userValidFlag">该昵称已经存在!</span>
            </div>
            <div class="form-group">
              <label class="control-label">真实姓名:</label>
              <input type="text" ng-model="user.trueName" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">职位:</label>
              <input type="text" ng-model="user.title" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">所属部门:</label>
              <select ng-model="user.departmentId" class="form-control">
                <option value="">请选择...</option>
                <option ng-repeat="d in deptList" value="{{d.id}}" ng-selected="{{d.id == user.departmentId}}">{{d.departmentName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label class="control-label">生日:</label>
              <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="user.birthdayFormat" class="form-control"/>
            </div>
            <div class="form-group">
              <p><strong>性别:</strong></p>
              <label class="radio-inline">
                <input name="gender" type="radio" ng-model="user.gender" value="1"/>男
              </label>
              <label class="radio-inline">
                <input name="gender" type="radio" ng-model="user.gender" value="0"/>女
              </label>
            </div>
            <div class="form-group">
              <label class="control-label">地址:</label>
              <input type="text" ng-model="user.address" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">邮箱:</label>
              <input type="text" ng-model="user.email" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">QQ:</label>
              <input type="text" ng-model="user.qq" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">签名:</label>
              <input type="text" ng-model="user.signature" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">手机:</label>
              <input type="text" name="phoneNumber" ng-model="user.phoneNumber" ng-pattern="validPhone()" class="form-control"/><span ng-cloak="ng-cloak" ng-show="subMark &amp;&amp; userUpdateForm.phoneNumber.$invalid">手机号码格式不正确!</span>
            </div>
            <div class="form-group">
              <p><strong>是否公开手机:</strong></p>
              <label class="radio-inline">
                <input name="viewPhone" type="radio" ng-model="user.viewPhone" value="1"/>公开
              </label>
              <label class="radio-inline">
                <input name="viewPhone" type="radio" ng-model="user.viewPhone" value="0"/>不公开
              </label>
            </div>
            <div class="form-group">
              <button type="submit" ng-disabled="infoBtnDisabled" class="btn btn-warning">更新</button>
            </div>
          </form>
          <form ng-show="showPwd" class="profile-form">
            <div class="form-group">
              <label class="control-label">原密码:</label>
              <input type="password" ng-model="user.oldPwd" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">新密码:</label>
              <input type="password" ng-model="user.newPwd" class="form-control"/>
            </div>
            <div class="form-group">
              <label class="control-label">重复新密码:</label>
              <input type="password" ng-model="user.repeatNewPwd" class="form-control"/>
            </div>
            <div class="form-group">
              <button type="submit" ng-click="updateUserPwd()" ng-disabled="pwdBtnDisabled" class="btn btn-warning">更新</button>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <div class="profile-menu">
            <ul class="profile-menu-group">
              <li class="{{currTabType == '1'? 'active' : ''}}"><a href="" ng-click="showEditUserInfoFn()"><span class="bicon bicon-user"></span>个人资料</a></li>
              <li class="{{currTabType == '2'? 'active' : ''}}"><a href="" ng-click="showUpdateUserPwdFn()"><span class="bicon bicon-cog"></span>账号设置</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>