
<div ng-controller="userViewController" class="container">
  <section class="user-vcard col-md-3">
    <div class="vcard-avatar"><a href=""><img ng-src="..{{user.userImgUrl}}"/></a></div>
    <h2 class="vcard-name">{{user.userName}}</h2>
    <h4 class="vcard-name">{{user.title}}</h4>
    <div ng-cloak="ng-cloak" class="vcard-title">{{user.signature}}</div>
    <hr class="vcard-divider"/>
    <ul class="vcard-stats list-inline">
      <li class="vcard-stats-item"><a href="" ng-click="showAllBlog()"><strong>{{user.blogCount}}</strong>分享</a></li>
      <li class="vcard-stats-item"><a href="" ng-click="showAllQuestion()"><strong>{{user.questionCount}}</strong>问答</a></li>
      <li class="vcard-stats-item"><a href=""><strong>{{user.integral}}</strong>积分</a></li>
    </ul>
    <hr class="vcard-divider"/>
    <ul class="vcard-info list-unstyled">
      <li class="vcard-info-item"><span ng-cloak="ng-cloak" class="bicon bicon-gift"></span>{{user.trueName}}</li>
      <li class="vcard-info-item"><span ng-cloak="ng-cloak" class="bicon bicon-gift"></span>{{user.birthdayFormat}}</li>
      <li class="vcard-info-item"><span ng-cloak="ng-cloak" class="bicon bicon-globe"></span>{{user.address}}</li>
      <li class="vcard-info-item"><span ng-cloak="ng-cloak" class="bicon bicon-phone"></span>{{isCurrUser ? user.phoneNumber : user.intimatePhone}}</li>
      <li class="vcard-info-item"><span class="bicon bicon-envelope"></span><a href="" ng-show="isCurrUser">{{user.email}}</a><a href="" ng-click="sendMsg()" ng-show="!isCurrUser">{{user.email}}</a></li>
      <li class="vcard-info-item"><span ng-cloak="ng-cloak" class="bicon bicon-gift"></span>{{user.departmentName}}</li>
    </ul>
    <hr class="vcard-divider"/>
    <div class="operations">
      <button type="button" ng-show="!isCurrUser &amp;&amp; hasAtt" ng-click="cancel(user.id)" class="btn btn-warning">取消关注</button>
      <button type="button" ng-show="!isCurrUser &amp;&amp; !hasAtt" ng-click="attention(user.id)" class="btn btn-warning">关注用户</button>
      <button type="button" ng-show="!isCurrUser" ng-click="sendMsg()" class="btn btn-warning">发送消息</button>
      <button type="button" ng-show="isCurrUser" ng-click="updateUserImg()" class="btn btn-warning">更换头像</button>
      <button type="button" ng-show="isCurrUser" ng-click="editUser()" class="btn btn-warning">编辑资料</button><span ng-show="!sinaValid">
        <button type="button" ng-show="isCurrUser" ng-click="bindSina()" class="btn btn-warning">绑定新浪</button></span><span ng-show="sinaValid">
        <button type="button" ng-show="isCurrUser" ng-click="toSinaPage()" class="btn btn-warning">查看新浪</button></span>
      <button type="button" ng-show="isCurrUser" ng-click="viewRss()" class="btn btn-warning">查看RSS</button>
    </div>
  </section>
  <section class="user-detail col-md-9">
    <section class="detail-part">
      <h4 class="detail-title">分享<small class="pull-right"></small></h4>
      <ul class="detail-list list-unstyled">
        <li ng-show="userBlog == ''">没有相关数据</li>
        <li ng-repeat="b in userBlog">
          <h4><a href="#/articles/show/{{b.id}}"> {{b.titleName  | omitFilter:20}}</a></h4>
          <p><a href="#/articles/show/{{b.id}}" ng-bind-html="b.streamText | omitFilter:40"></a></p>
          <div class="meta"><a href="#/me/{{b.createBy}}"><strong> {{b.userNickname}}</strong></a><span class="divider">/</span>
            <time datetime="{{b.createDate}}" class="text-muted">{{b.createDate}}</time>
          </div>
        </li>
      </ul>
      <div style="text-align: center;" class="detail-title">
        <pagination boundary-links="true" ng-click="initUserBlog(currentPage)" max-size="maxSize" rotate="false" total-items="totalItems" items-per-page="itemsPerPage" page="currentPage" previous-text="&lt;" next-text="&gt;" first-text="&lt;&lt;" last-text="&gt;&gt;" class="pagination-sm"></pagination>
      </div>
    </section>
    <section class="detail-part">
      <h4 class="detail-title">问答<small class="pull-right"></small></h4>
      <ul class="detail-list list-unstyled">
        <li ng-show="userQuestions == ''">没有相关数据</li>
        <li ng-repeat="q in userQuestions">
          <h4><a href="#/questions/show/{{q.id}}"> {{q.titleName | omitFilter:50}}</a></h4>
          <p><a href="#/questions/show/{{q.id}}" ng-bind-html="q.questionText | omitFilter:40"></a></p>
          <div class="meta"><a href="#/me/{{q.createBy}}"><strong> {{q.userNickname}}</strong></a><span class="divider">/</span>
            <time datetime="{{q.createDate}}" class="text-muted">{{q.createDate}}</time>
          </div>
        </li>
      </ul>
      <div style="text-align: center;" class="detail-title">
        <pagination boundary-links="true" ng-click="initQuetionList(currentQuestionPage)" max-size="maxSize" rotate="false" total-items="questionTotalItems" items-per-page="itemsPerPage" page="currentQuestionPage" previous-text="&lt;" next-text="&gt;" first-text="&lt;&lt;" last-text="&gt;&gt;" class="pagination-sm"></pagination>
      </div>
    </section>
  </section>
</div>