@import "../global";

.admin > .container {
  .page-header .btn.pull-right {
    margin-top: 7px;
  }
}

#userTable {
  .user-list-item {
    cursor: pointer;
  }
}

#teamTable {
  .team-list-item {
    cursor: pointer;
  }
}

#new_user {
  .text-center {
    > img {
      height: 130px;
      min-height: 130px;
    }
    > .btn-small {
      margin-top: 100px;
    }
  }
}