section.navbar.navbar-default.navbar-fixed-top(ng-class="{ pushed: navMenuOpen }")
  a.navbar-brand(href="", title="点击显示／隐藏菜单", ng-click="navMenuOpen = !navMenuOpen"): span.bicon.bicon-align-justify

  ul.nav.navbar-nav.navbar-left
      li: a.logo(href="#/articles")
  //- BEGIN: Breadcrumb
    ol.navbar-breadcrumb.navbar-left
      li: a(href="/")
        span.bicon.bicon-home
        | &nbsp;首页
      li: a(href="/messages")
        span.bicon.bicon-send
        | &nbsp;交流
      li.active
        span.bicon.bicon-cloud-download
        | &nbsp;收件箱
  //- END: Breadcrumb
  //- BEGIN: Global Search & Chatter Trigger
  form.navbar-form.navbar-right(role="search", ng-controller="searchHeaderController", ng-submit="search()", ng-class="{ pushed: navMenuOpen }")
    section.form-group
      label.sr-only(for="navbarSearch") 搜索
      input#navbarSearch.form-control(type="search", name="navbarSearch", placeholder="搜索",ng-model="searchInput",ng-trim)
    button.btn.btn-default(type="submit") 搜索
  ul.nav.navbar-nav.navbar-right
    li(ng-controller="remindController"): a.notification.active(href="#/remind", ng-bind="totalRemindCount")
  //- END: Global Search & Chatter Trigger
//- BEGIN: Navigation Menu
