.message.wrapper {
  position: relative;
}

.message.list {
  width: 33%;
  height: 100vh;
  padding-top: 31px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: lighten($lighter-shadow-color, 50%);
  @include box-shadow(1px 0 0 0 hsla(0, 0%, 100%, .75), inset -1px 0 0 0 $lighter-shadow-color);

  .toolbox {
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 1100;
    width: 33%;
    padding: 5px 20px;
    background-color: rgba(255, 255, 255, .75);
    @include transition(all .2s ease-in-out);
    > ul {
      margin-bottom: 0;
    }
    .level-one, .level-two {
      top: 30px;
      z-index: 1110;
    }
    .level-one {
      left: 15px;
    }
    .level-two {
      left: 145px;
    }
    &.pushed {
      left: 180px;
    }
  }

  .item {
    position: relative;
    margin-bottom: 0;
    padding: 15px;
    background-color: rgba(255, 255, 255, .25);
    @include box-shadow(0 1px 0 0 hsla(0, 0%, 100%, .25), inset 0 -1px 0 0 $lighter-shadow-color);
    &:hover {
      @include transition(background-color .2s ease-out);
      background-color: hsla(0, 0%, 100%, .5);
    }
    &:first-of-type {
      @include box-shadow(0 -1px 0 0 hsla(0, 0%, 100%, .25), inset 0 1px 0 0 $lighter-shadow-color, 0 1px 0 0 hsla(0, 0%, 100%, .25), inset 0 -1px 0 0 $lighter-shadow-color);
    }

    .avatar {
      width: 13%;
      a img {
        width: 44px;
        @include border-radius(22px);
      }
    }

    .detail {
      width: 87%;
      .timestamp {
        position: absolute;
        top: 5px;
        right: 10px;
      }

      .sender {
        color: hsl(36, 4%, 51%);
      }

      .subject {
        a {
          display: block;
          color: hsl(34, 5%, 30%);
          font-size: 1.1em;
          @include text-overflow();
        }
        .message-state {
          position: absolute;
          top: 40px;
          right: 15px;
          .bicon { margin-left: 5px; }
        }
      }
    }
  }

}

.message.detail {
  width: 65%;
  margin-left: 1%;
  padding-top: 15px;
}

.message.detail .item {
  margin-bottom: 5px;
  padding: 0;
  background-color: rgba(255,97,0,0.4);
  @include border-radius($border-radius-small);
  @include box-shadow(0 0 3px 0 $light-shadow-color);

  header {
    padding: 10px 10px 5px;
    cursor: pointer;

    .actions {
      position: absolute;
      right: 0;
      top: 10px;
      a {
        color: $normal-shadow-color;
        margin-right: 10px;
        &:hover {
          @include transition(color .3s ease-out);
          color: $dark-shadow-color;
        }
      }
    }
  }

  .message-body {
    padding: 30px 40px 20px;
    background-color: #fff;
    @include border-bottom-radius($border-radius-small);
    @include box-shadow(0 -1px 6px 0 hsla(0, 0%, 33%, .1));
  }

  .addition {
    .voting-content,
    .voting-results,
    .agenda-content {
      margin-bottom: 20px;
      padding: 20px;
      background-color: hsl(0, 0%, 98%);
      border: 1px solid $lighter-shadow-color;
      legend {
        @include box-shadow(0 1px 0 0 white);
      }
      .image {
        margin-top: 20px;
        img {
          height: 120px;
        }
      }
      .radio, .checkbox {
        margin-bottom: 20px;
      }
      .help-inline {
        margin-left: 10px;
      }
      .user-stats {
        margin-top: 20px;
      }
      dl {
        padding: 0 20px;
      }
    }
    .voting-results {
      .title {
        margin: 0 0 21px;
        padding: 0;
        color: #333;
        font-size: 1.5em;
        font-weight: normal;
        line-height: 1.5;
        border-bottom: 1px solid #e5e5e5;
        @include box-shadow(0 1px 0 0 white);
      }
      dl {
        margin: 0;
        padding: 0 20px;
        dt small {
          margin-left: 10px;
          & a {
            margin-left: 10px;
            font-size: .9em;
          }
        }
      }
    }
  }
}

.message.detail .item.card{
  background-color : #F5F5DC;
  cursor: pointer;

  &:hover {
    background-color: rgba(210, 210, 210, 0.5);
  }
}

.message.new {
  margin-top: 30px;
  padding-top: 15px;
  background-color: hsl(0, 0%, 96%);
  border-radius: $border-radius-base;
  @include box-shadow(0 0 5px 0 $light-shadow-color);

  hr {
    border-top-color: #ccc;
    border-bottom: 1px solid white;
  }

  legend {
    border-bottom: 1px solid hsl(38, 9%, 83%);
    line-height: 2;
    @include box-shadow(0 1px 0 0 hsl(0, 0%, 100%));
  }

  .control-label {
    padding: 7px 0 0;

    > span:hover {
      cursor: pointer;
    }
  }

  .action {
    .btn-default,
    .as-mail {
      margin-right: 15px;
    }
    .as-mail {
      margin-top: 7px;
    }
  }

  .addon-select {
    .bicon {
      margin-right: 10px;
    }
  }

  .addon-group {
    margin-bottom: 20px;
    textarea {
      resize: vertical;
    }
  }
}
