.pics-navbar {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: hsl(0, 0%, 96%);
  @include border-radius($border-radius-base);
  @include box-shadow(0 0 3px 0 $lighter-shadow-color);

  .list-inline {
    margin: 5px 0 0 10px;
    li.active a {
      color: $link-hover-color;
      text-decoration: underline;
    }
  }
}

.pics-folder .inner {
  margin-bottom: 30px;
  padding: 8px 13px;
  background-color: hsl(0, 0%, 96%);
  @include border-radius($border-radius-large);
  @include box-shadow(0 0 3px 0 $lighter-shadow-color);
  @include transition(all .3s ease-out);
  &:hover {
    background-color: white;
    @include box-shadow(0 0 9px 0 $light-shadow-color);
  }
  .avatar-grid {
    display: block;
    max-width: 100px;
    margin: 0 auto;
    .item {
      width: 100px;
      height: 100px;
      @include border-radius($border-radius-large);
    }
  }
  .name a {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
    font-weight: bold;
    @include text-overflow();
  }
  .action a {
    color: $normal-shadow-color;
    font-weight: bold;
    @include transition(color .3s ease-out);
    &:hover {
      color: $dark-shadow-color;
      text-decoration: none;
    }
  }
}
