/*
  Sign Up / In / Out
*/

.signin {
  position: absolute;
  bottom: 40%;
  right: 10%;
}

.signup {
  position: absolute;
  bottom: 1%;
  right: 10%;
}

.signup.forget {
  bottom: 30%
}

.signin form,
.signup form {
  background-color: hsl(0, 0%, 96%);
  @include border-radius($border-radius-base);
  @include box-shadow(0 0 3px 0 $lighter-shadow-color);

  legend {
    padding: 0 15px;
  }

  .title legend {
    padding: 15px;
    background-color: white;
    @include border-top-radius($border-radius-base);
  }

  .form-group {
    margin: {
      left: 30px;
      right: 30px;
    }
  }

  .action {
    .bicon {
      margin-right: 10px;
    }
  }
}

/*
  Profile
*/
.user-vcard {
  margin-top: 30px;
}

.vcard-divider {
  border-top: 1px solid $light-shadow-color;
  border-bottom: 1px solid white;
}

.user-vcard .vcard-avatar {
  img {
    width: 220px;
    height: 220px;
    @include border-radius($border-radius-base);
  }
}

.user-vcard {
  .vcard-name,
  .vcard-title {
    text-shadow: 0 1px 0 white;
  }
}

.user-vcard .vcard-info {
  .vcard-info-item {
    padding: 5px 0;
    .bicon {
      padding-right: 10px;
      color: $normal-shadow-color;
      text-shadow: 0 0 1px white
    }
  }
}

.user-vcard .vcard-stats {
  margin-left: 0;
  .vcard-stats-item {
    width: 82px;
    text-align: center;
    a {
      color: $normal-shadow-color;
      &:hover {
        strong {
          color: black;
        }
        text-decoration: none;
      }
      strong {
        display: block;
        font-size: 2em;
      }
    }
  }
}

.user-vcard .operations {
  margin-bottom: 15px;
  button {
    margin-bottom: 5px;
  }
}

.user-detail {
  margin-top: 30px;
  .detail-part {
    margin-bottom: 30px;
    background-color: hsl(0, 0%, 96%);
    @include border-radius($border-radius-base);
    @include box-shadow(0 0 3px 0 $lighter-shadow-color);
  }
  .detail-title {
    margin: 0;
    padding: 15px 15px 14px;
    background-color: white;
    border-bottom: 1px solid lighten($lighter-shadow-color, 50%);
    @include border-top-radius($border-radius-base);
  }
  .detail-list li {
    padding: 15px;
    border-bottom: 1px solid lighten($lighter-shadow-color, 50%);
    &:last-of-type {
      border-bottom-style: none;
      @include border-radius($border-radius-base);
    }
  }
}

.users-tool {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: hsl(0, 0%, 96%);
  @include border-radius($border-radius-base);
  @include box-shadow(0 0 3px 0 $lighter-shadow-color);

  .title {
    margin: 0;
    text-shadow: 0 1px 0 white;
    small a {
      margin-left: 10px;
      &.active {
        color: $link-hover-color;
        text-decoration: underline;
      }
    }
  }

  .users-search {
    position: relative;
    top: 5px;
    input {
      width: 240px;
    }
  }
}

.users-grid .user-card {
  float: left;
  width: 18%;
  margin: 0 1% 2%;
  background-color: white;
  overflow: hidden;
  @include box-shadow(0 0 3px 0 $lighter-shadow-color);
  @include border-radius($border-radius-small);
  &.self {
    height: 260px;
  }
  &:hover {
    @include box-shadow(0 0 9px 0 $light-shadow-color);
    @include transition(box-shadow .3s ease-out);
    .avatar a img {
      top: -25px;
      left: -10px;
      width: 110%;
      @include transition(all .3s ease-out);
    }
  }

  .avatar {
    height: 150px;
    overflow: hidden;
    a img {
      position: relative;
      top: -20px;
      left: 0;
      width: 100%;
    }
  }

  .info {
    padding: 0 10px;
    height: 50px;
  }

  .action {
    padding: 10px;
  }
}

.profile-menu {
  position: relative;
  padding: 15px 0;
  @include box-shadow(inset 1px 0 0 lighten($lighter-shadow-color, 50%));
  @include gradient-horizontal(lighten($lighter-shadow-color, 75%), hsla(0, 0%, 0%, 0), 0, 10px);

  &:before, &:after {
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0;
    background-color: transparent;
  }

  &:before {
    top: 0;
    @include gradient-vertical($main-bg, hsla(0, 0%, 0%, 0));
  }

  &:after {
    bottom: 0;
    @include gradient-vertical(hsla(0, 0%, 0%, 0), $main-bg);
  }

  .profile-menu-group {
    margin: 0;
    padding: 0;
    list-style: none;
    li > a {
      display: block;
      padding: 10px 20px;
      &:hover {
        text-decoration: none;
      }
      .bicon {
        margin-right: 10px;
      }
    }
    li.active {
      background-color: $main-bg;
      border: 1px solid lighten($lighter-shadow-color, 50%);
      border-left: none;
      @include border-right-radius($border-radius-base);
      @include box-shadow(2px 1px 3px rgba(0, 0, 0, .075));
    }
  }
}

.profile-edit {
  margin-top: 30px;
}

.profile-form {
  padding: 30px 15px 10px;
  background-color: hsl(0, 0%, 96%);
  @include border-radius($border-radius-base);
  @include box-shadow(0 0 3px $lighter-shadow-color);
}
