
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form name="newTeamForm" class="group-new">
        <h3 class="title">创建新群组</h3>
        <fieldset class="basic">
          <legend>基本信息</legend>
          <div class="row">
            <div class="form-group col-md-12">
              <label>群组名称：</label>
              <input type="text" ng-model="team.teamName" required="required" ng-maxlength="20" name="teamName" ng-click="changeCheckNameBeTrue()" class="form-control"/>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label>你希望如何控制群组消息？</label>
              <div class="radio">
                <label>
                  <input type="radio" name="writable" ng-model="team.isWrite" value="0" ng-click="changeIsOpen(0)"/>我希望群组外的人看不到本群（默认）
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="writable" ng-model="team.isWrite" value="1" ng-click="changeIsOpen(1)"/>我希望所有人都能看到本群
                </label>
              </div><span class="help-block">默认选项意味着只有群组成员才能给群组发消息，所有人可见说明都能往该群发消息<strong>意见反馈</strong>等</span>
            </div>
            <div ng-show="team.isWrite == 1" class="form-group col-md-6">
              <label>你希望如何管理群组成员？</label>
              <div class="radio">
                <label>
                  <input type="radio" name="joinable" ng-model="team.isOpen" value="1"/>我希望所有人可以自由加入此群组（默认）
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="joinable" ng-model="team.isOpen" value="0"/>我希望由我自己管理群组内的成员                    
                </label>
              </div><span class="help-block">相当于<strong>开放群组</strong>或<strong>管理员自行添加</strong>            </span>
            </div>
          </div>
        </fieldset>
        <fieldset class="member">
          <legend>选择成员</legend>
          <div class="user-filter col-md-4">
            <input type="text" ng-model="searchUser" ng-keyup="searchAllUser()" placeholder="搜索用户" class="input-sm form-control"/>
          </div>
          <h5>{{discribe}}</h5>
          <ul class="user-list list-unstyled row">
            <li ng-repeat="userinfo in dataObj.users" class="col-md-3">
              <div class="checkbox">
                <label><a ng-href="#/me/{{userinfo.id}}">{{userinfo.userName}}</a><a ng-click="add(userinfo)"><span class="bicon bicon-ok"></span></a></label>
              </div>
            </li>
          </ul>
          <h5>已选中的用户</h5>
          <ul class="user-list list-unstyled row">
            <li ng-repeat="userinfo in dataObj.selectUsers" class="col-md-3">
              <div class="checkbox">
                <label><a ng-href="#/me/{{userinfo.id}}">{{userinfo.userName}}</a><a ng-click="deleteUser(userInfo,$index)"><span class="bicon bicon-remove"></span></a></label>
              </div>
            </li>
          </ul>
        </fieldset>
        <fieldset class="action">
          <div class="row">
            <div class="form-group col-md-12">
              <button type="submit" ng-click="newTeamInfo()" class="btn btn-warning"><span class="bicon bicon-ok"></span>创建</button><span ng-cloak="ng-cloak" ng-show="submited &amp;&amp; newTeamForm.teamName.$invalid">群组名称不能为空而且长度不能大于20个字符!</span><span ng-cloak="ng-cloak" ng-show="checkName">群组名称已经被使用!</span>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-4">
      <section class="group-help">
        <div class="alert alert-success">
          <h4>提示：</h4>
          <p>群组是用户的组合，给群组发送消息就相当于同时给这个群组里的所有用户发送消息。</p>
          <p>您可以把群组看做是邮件列表，多多利用群组的特性，可以给日常沟通和交流带来极大的便利。</p>
          <hr/>
          <p>第一次创建群组时，如果您对各种选项不很熟悉也不要紧，只要选择您希望包括的用户就可以了。</p>
          <p>之后您可以继续编辑修改群组的选项，也可以添加／删除群组成员。</p>
        </div>
      </section>
    </div>
  </div>
</div>