
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form name="newTeamForm" class="group-new">
        <h3 class="title">群组详情<a ng-href="#messages?q={{team.teamName}}" ng-show="team.isTeamMember==1" class="btn btn-warning pull-right">查看消息</a></h3>
        <fieldset class="basic">
          <legend></legend>
          <div class="row">
            <div class="form-group col-md-12">
              <p>群组名称：{{team.teamName}}</p>
            </div>
          </div>
        </fieldset>
        <fieldset class="member">
          <legend>成员列表</legend>
          <div class="user-filter col-md-4"></div>
          <ul class="user-list list-unstyled row">
            <li ng-repeat="userinfo in userList " class="col-md-2">
              <div class="checkbox">
                <label><a ng-href="#/me/{{userinfo.id}}">{{userinfo.aliasName}}</a></label>
              </div>
            </li>
          </ul>
        </fieldset>
      </form>
    </div>
    <div class="col-md-4">
      <section class="group-help">
        <div class="alert alert-success">
          <h4>提示：</h4>
          <p>群组是用户的组合，给群组发送消息就相当于同时给这个群组里的所有用户发送消息。</p>
          <p>您可以把群组看做是邮件列表，多多利用群组的特性，可以给日常沟通和交流带来极大的便利。</p>
          <hr/>
          <p>第一次创建群组时，如果您对各种选项不很熟悉也不要紧，只要选择您希望包括的用户就可以了。</p>
          <p>之后您可以继续编辑修改群组的选项，也可以添加／删除群组成员。</p>
        </div>
      </section>
    </div>
  </div>
</div>