.text-center
    pagination(boundary-links="true", ng-click="paging()",max-size="maxSize",rotate="false", total-items="totalItems",items-per-page="itemsPerpage", page="currentPage", class="pagination-sm" ,previous-text="<", next-text=">" ,first-text="<<" ,last-text=">>")


