section.aside-panel.event
  h4.aside-panel-title 报名项目

  .program
    h5.program-title 1. 小型汽车保养

    .program-date-range
      .start-date 报名开始时间：<time datatime="2014-06-01 00:00">2014-06-01</time>
      .close-date 报名结束时间：<time datatime="2014-06-15 00:00">2014-06-15</time>
    .program-status.clearfix
      span.label.label-danger.pull-left 报名尚未开始
      button.btn.btn-default.btn-sm.pull-right(type="button" disabled="disabled") 现在报名
        i.fa.fa-fw.fa-arrow-right

  .program
    h5.program-title 2. 小型汽车维护
    .program-date-range
      .start-date 报名开始时间：<time datatime="2014-06-01 00:00">2014-06-01</time>
      .close-date 报名结束时间：<time datatime="2014-06-15 00:00">2014-06-15</time>
    .program-status.clearfix
      span.label.label-success.pull-left 报名正在进行
      button.btn.btn-warning.btn-sm.pull-right(type="button") 现在报名
        i.fa.fa-fw.fa-arrow-right

  .program
    h5.program-title 2. 小型汽车维修
    .program-date-range
      .start-date 报名开始时间：<time datatime="2014-06-01 00:00">2014-06-01</time>
      .close-date 报名结束时间：<time datatime="2014-06-15 00:00">2014-06-15</time>
    .program-status.clearfix
      span.label.label-default.pull-left 报名已经结束
      button.btn.btn-default.btn-sm.pull-right(type="button" disabled="disabled") 现在报名
        i.fa.fa-fw.fa-arrow-right
