.container.page-wrapper

  .row

    .page-nav-back.col-md-12
      a.btn.btn-warning.btn-back(href="javascript:history.back()")
        i.fa.fa-fw.fa-arrow-left
        | 返回活动

    .program.col-md-12
      include _program_main
