section.meta.clearfix
  .action.pull-left
    button.btn.btn-warning(ng-disabled="clickMentionValue",ng-click="clickMention()",class="{{mentionId ? 'btn-danger' : 'btn-default'}}",title="{{mentions}}")
      span.bicon.bicon-thumbs-up
      | <strong>{{questionPraiseCount}}</strong>&nbsp;{{mentionId ? '已赞' : '赞'}}
    button.btn.btn-link(ng-click="store(hasStore)" )
      span.bicon
      | {{hasStore == 1 ? '取消收藏' : '收藏'}}    
    button.btn.btn-link(ng-show="isOwner == 1", ng-click="editQuestion()")
      span.bicon.bicon-pencil
      | 编辑
    button.btn.btn-link(ng-show="isOwner == 1",confirm-directive="",title="确认删除吗？",ok-fn="deleteQuestion(config,attr)")
      span.bicon.bicon-trash
      | 删除
    a.btn.btn-link(ng-href="#/new?qid={{questionId}}")
      span.bicon.bicon-pencil
      | 转发
  .info.pull-right: small.text-muted
    | 发表于：
    time(datetime="{{questionCreateDate}}") {{questionCreateDate | timeFilter}}
