.container
  form.article.new.col-md-8.col-md-offset-2(novalidate,role="form", name="newQuestionForm")

    fieldset
      legend 发布新问答
        button.btn.btn-warning(type="submit", ng-click="questionSub('0')")
          span.bicon.bicon-ok
          | &nbsp;&nbsp;发表

      .form-group
        label 描述：
        input.form-control(type="text", name="title",ng-model="questionTitle",required,ng-maxlength="40")
      .form-group
        label 补充：
        textarea.form-control(rows="10", name="content",rich-text-directive="questionContent",config="richTextConfig",file-list="fileList",img-list="imgList",style="height:500px;")

    fieldset.action
      .form-group
        .pull-left(ng-cloak,ng-show="submited")
          span(ng-cloak,ng-show="submited && newQuestionForm.title.$invalid")
            | 标题不能为空而且长度不能大于40个字符! 
        button.btn.btn-warning.pull-right(type="submit",ng-click="questionSub('0')")
          span.bicon.bicon-ok
          | &nbsp;&nbsp;发表 
       
