<dl class="dl-horizontal">
    <dt>群组所属分类：</dt>
    {{if parentName}}
    <dd>{{parentName}}</dd>
    {{else}}
    <dd>该群组暂无分类</dd>
    {{/if}}
    <dt>群组创建时间：</dt>
    <dd>{{createdAt}}</dd>

    <hr/>

    <dt>我是群组的成员吗？</dt>
    <dd>
        {{if isMember === 0}}
            您还不是群组的成员，
            {{if options.isJoinable === 0}}
            并且该群组 <strong>不允许</strong> 新成员加入
            {{else}}
            您可以 <button id="joinTeam" class="btn btn-small btn-success" data-userid="{{currentId}}" data-teamid="{{groupId}}">加入</button> 该群组
            {{/if}}
        {{else}}
            {{if currentId !== ownerId}}
            您已经是群组的成员， 您可以 <button id="quitTeam" class="btn btn-small btn-warning" data-userid="{{currentId}}" data-teamid="{{groupId}}">退出</button> 该群组
            {{else}}
            您是群组的管理员，可以将本群组 <button id="transferTeam" class="btn btn-small btn-danger" data-userid="{{ownerId}}" data-teamId="{{groupId}}">移交</button> 给别人
            {{/if}}
        {{/if}}
    </dd>

    <div class="well hide">
        <form id="transferTeamForm">
            <div class="control-group">
                <label class="control-label" for="selectNewOwner">请选择将要移交的目标用户：</label>
                <div class="controls">
                    <select id="selectNewOwner" class="input-block-level" name="createId"></select>
                </div>
            </div>
            <div class="control-group text-right">
                <a class="btn" href="#">取消</a>
                <button class="btn btn-success" type="submit">提交</button>
            </div>
        </form>
    </div>

    <dt>能给群组发消息吗？</dt>
    <dd>
        {{if options.isWritable === 0}}
            <span class="text-warning"><strong>不可以</strong></span>
        {{else}}
            <span class="text-success"><strong>可以</strong></span>
        {{/if}}
    </dd>

	{{each roles as role}}
    <dt>{{role.key}}</dt>
    <dd>{{role.value}}</dd>
	{{/each}}    
</dl>
