<div class="page-header">
				<h2>
					模板管理
					<a class="btn btn-primary pull-right addTemplateBtn">
						<i class="fa fa-plus fa-fw"></i> 创建模板
					</a>
				</h2>
</div>
<table id="teamTable" class="table table-bordered table-hover">
		<thead>
			<tr>
	        	<th colspan="1">模板名称</th>
	            <th colspan="1">模板内容</th>
	            <th colspan="1">模板类型</th>
	            <th colspan="1">操作</th>
           	</tr>
		</thead>
		<tbody>
		{{if templates.length > 0}} {{each templates as tem}}
			<tr class="team-list-item" id="template_{{tem.id}}">
				<td colspan="1">{{tem.templateName}}</td>
				<td colspan="1">{{tem.templateContext}}</td>
				{{if tem.templateType ==='0'}}
				<td colspan="1">新闻</td>
				{{else}}
				<td colspan="1">公告</td>
				{{/if}}
				<td colspan="1">
				<a class="btn updateTemplateBtn" data-baseurl="{{baseUrl}}" data-templateid="{{tem.id}}">修改</a>
				<a class="btn deleteTemplateBtn" data-teamplatename="{{tem.templateName}}" data-templateid="{{tem.id}}">删除</a>
				</td>
			</tr>
		{{/each}} {{else}}
			<tr id="waring_tr">
				<td colspan="4">您还没有添加任何模板</td>
			</tr>
		{{/if}}
		</tbody>
</table>
<!-- 添加模板弹出层 -->
<div id="addTemplateModal" class="modal hide fade in">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>添加模板</h3>
	</div>
	<div class="modal-body">
		<div>
			模板名称 :<input class="templateName">
		</div>
		<br>
		<div>
			模板类型 :
			<select class="templateType">
				<option value="0">新闻</option>
				<option value="1">公告</option>
			</select>
		</div>
		<br>
		<div>
			模板正文:
			<textarea rows="" cols="" class="templateContext"></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<a class="btn" data-dismiss="modal">关闭</a> 
		<a class="btn btn-primary addTemplateSumitBtn" data-baseurl="{{baseUrl}}">添加</a>
	</div>
</div>
<!-- 添加模板弹出层 -->

<!-- 修改模板弹出层 -->
<div id="updateTemplateModal" class="modal hide fade in">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>修改模板</h3>
	</div>
	<div class="modal-body">
		<div>
			模板名称 :<input class="templateName">
			<input type="hidden" class="templateId">
		</div>
		<br>
		<div>
			模板类型 :
			<select class="templateType">
				<option value="0">新闻</option>
				<option value="1">公告</option>
			</select>
		</div>
		<br>
		<div>
			模板正文:
			<textarea rows="" cols="" class="templateContext"></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<a class="btn" data-dismiss="modal">关闭</a> 
		<a class="btn btn-primary updateTemplateSumitBtn" data-baseurl="{{baseUrl}}">保存修改</a>
	</div>
</div>
<!-- 修改模板弹出层 -->

<!-- 删除模板弹出层 -->
<div id="delteTemplateModal" class="modal hide fade in">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>删除模板确认</h3>
	</div>
	<div class="modal-body">
		您确认要删除模板《<b class="deleteTemplateName"></b>》吗？
		<input type="hidden" class="templateId">
	</div>
	<div class="modal-footer">
		<a class="btn" data-dismiss="modal">关闭</a> 
		<a class="btn btn-primary deleteTemplateSumitBtn" data-baseurl="{{baseUrl}}">删除</a>
	</div>
</div>
<!-- 删除模板弹出层 -->