{{if weathers}}
{{if weathers.dayList }}
<ol class="carousel-indicators">
	<li data-target="#weatherCarousel" data-slide-to="0" class="active"></li>
	<li data-target="#weatherCarousel" data-slide-to="1"></li>
	<li data-target="#weatherCarousel" data-slide-to="2"></li>
	<li data-target="#weatherCarousel" data-slide-to="3"></li>
	<li data-target="#weatherCarousel" data-slide-to="4"></li>
</ol>
<span style="bottom:0;position: absolute;right: 100px;" class="pull-right">今后五天天气</span>
{{/if}}
<!-- Carousel items -->
<div class="carousel-inner">
	{{each weathers.dayList as weather }}
	<div class="{{if $index==0}}active{{/if}} item">
		<div class="pull-left text-center">
			{{if dateType == 'day'}}
			<img src="{{baseUrl}}/{{weather.img1}}" alt="{{weather.img_title1}}" />
			{{else}}
			<img src="{{baseUrl}}/{{weather.img2}}" alt="{{weather.img_title1}}" />
			{{/if}}
			<div class="location">{{weathers.city}}</div>
		</div>
		<div class="pull-left">
			<div>
				<strong class="state">{{weather.weather}}</strong> <strong class="temp">{{weather.temp}}</strong>
			</div>
			<div class="date">{{weather.date}}</div>
			<div class="wind">{{weather.wind}}</div>
		</div>
	</div>
	{{/each}}
</div>
{{/if}}