.michat * {
	list-style-type : none;
	margin          : 0;
	padding         : 0;
	font-size       : 12px;
}

.michat .group:after {
	content    : ".";
	clear      : both;
	height     : 0;
	visibility : hidden;
	display    : block;
}

.michat li {
	float : left;
	vertical-align : top;
}

.michat-container {
	position : relative;
	z-index  : 100;
}

.michat-container .michat-title {
	border-bottom : 1px solid #aaaaaa;
	cursor        : pointer;
	background    : url('img/bg_rx.png') repeat-x scroll 0 -29px #ffffff;
	height        : 23px;
	line-height   : 23px;
}

.michat-container .michat-title .min {
	float      : right;
	background : url('img/icons_n.png') no-repeat scroll -60px 0 transparent;
	height     : 22px;
	width      : 22px;
}

.michat-container .michat-title .min:hover {
	background : url('img/icons_n.png') no-repeat scroll -90px 0 transparent;
}

.michat-container .michat-title .close {
	float      : right;
	background : url('img/icons_n.png') no-repeat scroll 0 0 transparent;
	height     : 22px;
	width      : 22px;
}

.michat-container .michat-title .close:hover {
	background : url('img/icons_n.png') no-repeat scroll -30px 0 transparent;
}

.michat-container .michat-right {
	display  : none;
	border   : 1px solid #aaaaaa;
	position : absolute;
	bottom   : 0;
	right    : 0;
	width    : 200px;
	overflow : hidden;
	z-index  : 101;
}

.michat-container .michat-right .michat-search {
	height           : 25px;
	position         : relative;
	background-color : #ffffff;
}

.michat-container .michat-right .michat-search .list {
	width      : 100%;
	position   : absolute;
	top        : 26px;
	left       : 0;
	z-index    : 110;
	height     : 335px;
	overflow-y : auto;
	overflow-x : hidden;
	background : #ffffff;
}

.michat-container .michat-right .michat-search .michat-s {
	padding-top : 1px;
	margin-left : 4px;
	width       : 190px;
	border      : solid 1px rgba(110, 110, 110, 0.5);
	*border     : solid 1px rgb(160, 160, 160);
	height      : 20px;
	position    : relative;
	box-shadow  : 0 0 2px rgba(110, 110, 110, 1);
}

.michat-container .michat-right .michat-search .michat-s .search {
	width      : 20px;
	height     : 22px;
	background : url('img/icons.png') no-repeat scroll -235px 0 transparent;
}

.michat-container .michat-right .michat-search .michat-s input {
	border : 0;
}

.michat-container .michat-right .michat-search .michat-s .michat-search-input {
	position : absolute;
	top      : 0px;
	left     : 20px;
	width    : 170px;
	height   : 20px;
}

.michat-container .michat-right .michat-search .michat-s .michat-search-close {
	position : absolute;
	right    : 5px;
	top      : 2px;
	cursor   : pointer;
	display  : none;
}

.michat-container .michat-right .michat-userContainer {
	background-color : #ffffff;
}

.michat-container .michat-right .michat-userContainer .michat-userContainer-tab {
	padding:0px 3px;
}

.michat-container .michat-right .michat-userContainer .michat-userContainer-tab li {
	cursor     : pointer;
	height     : 23px;
	width      : 97px;
	background : url('img/bg_tab.png') repeat-x scroll 0 -25px transparent;
}

.michat-container .michat-right .michat-userContainer .michat-userContainer-tab li:hover {
	background : url('img/bg_tab.png') repeat-x scroll 0 -50px transparent;
}

.michat-container .michat-right .michat-userContainer .michat-userContainer-tab li .group div{
	margin:0px 40px;
	min-width:40px;
	min-height:20px;
	background: url('img/bg_g.png') no-repeat scroll 0 -195px transparent;
}

.michat-container .michat-right .michat-userContainer .michat-userContainer-tab li .history {
	text-align : center;
}

.michat-container .michat-right .michat-userContainer .michat-userContainer-tab li .history div{
	margin:0px 40px;
	min-width:40px;
	min-height:20px;
	background: url('img/bg_g.png') no-repeat scroll 0 -477px transparent;
}

.michat-container .michat-right .michat-userContainer .michat-userContainer-list {
	overflow-y : auto;
	overflow-x : hidden;
	height     : 312px;
	clear: both;
	position   : relative;
}

.michat-container .michat-right .michat-userContainer .michat-userContainer-list .groupName {
	cursor       : pointer;
	line-height  : 20px;
	height       : 20px;
	background   : url('img/icons.png') no-repeat scroll -235px -20px transparent;
	padding-left : 15px;
}

.michat-container .michat-right .user-list li {
	display      : list-item;
	cursor       : pointer;
	height       : 30px;
	line-height  : 30px;
	padding-left : 12px;
}

.michat-container .michat-right .user-list li:hover {
	background : rgba(225, 225, 225, 0.9);
	*background: rgb(220, 220, 220);
}

.michat-container .michat-right .user-list li .head {
	float   : left;
	padding : 0px 5px;
	height  : 20px;
}

.michat-container .michat-right .user-list li .head img {
	width  : 20px;
	height : 20px;
}

.michat-container .michat-right .user-list li .name {
	width    : 140px;
	overflow : hidden;
	float    : left;
}

.michat-container .michat-right .michat-right-bottom {
	height     : 28px;
	background : #dddddd;
	cursor     : pointer;
	border-top : 1px solid #aaaaaa;
}

.michat-container .michat-left {
	display  : none;
	border   : 1px solid #aaaaaa;
	position : absolute;
	bottom   : 0;
	right    : 201px;
	width    : 500px;
	overflow : hidden;
	z-index  : 101;
}

.michat-container .michat-left .michat-title .chat-name {
	float       : left;
	margin-left : 15px;
}

.michat-container .michat-left .michat-chat-list-container {
	float  : left;
	width  : 0;
	height : 388px;
}

.michat-container .michat-left .michat-chat-list-container .michat-chat-list-up {
	cursor     : pointer;
	height     : 19px;
	background : url('img/icons.png') 0 -90px no-repeat scroll transparent;
}

.michat-container .michat-left .michat-chat-list-container .michat-chat-list-up:hover {
	background : url('img/icons.png') 0 -150px no-repeat scroll transparent;
}

.michat-container .michat-left .michat-chat-list-container .michat-chat-list-down {
	cursor     : pointer;
	height     : 20px;
	background : url('img/icons.png') -105px -92px no-repeat scroll transparent;
}

.michat-container .michat-left .michat-chat-list-container .michat-chat-list-down:hover {
	background : url('img/icons.png') -105px -152px no-repeat scroll transparent;
}

.michat-container .michat-left .michat-chat-list-container .michat-chat-list {
	position   : relative;
	overflow   : hidden;
	background : #dddddd;
	height     : 350px;
}

.michat-container .michat-left .michat-chat-list-container .michat-chat-list ul {
	position : absolute;
	top      : 0;
	left     : 0;
}

.michat-container .michat-left .michat-chat-list-container .michat-chat-list li {
	margin-left : 3px;
	border      : solid 1px #dddddd;
	cursor      : pointer;
	height      : 30px;
	line-height : 30px;
	width       : 95px;
	overflow    : hidden;
	background  : #dddddd;
}

.michat-container .michat-left .michat-chat-list-container .michat-chat-list .li-hover {
	border       : solid 1px #aaaaaa;
	border-right : solid 1px #ffffff;
	background   : #ffffff;
}

.michat-container .michat-left .michat-chat-list-container .michat-chat-list li .head {
	float   : left;
	padding : 0px 5px;
	height  : 20px;
}

.michat-container .michat-left .michat-chat-list-container .michat-chat-list li .head img {
	width  : 20px;
	height : 20px;
}

.michat-container .michat-left .michat-chat-list-container .michat-chat-list li .name {
	height   : 30px;
	width    : 52px;
	overflow : hidden;
	float    : left;
}

.michat-container .michat-left .michat-chat-list-container .michat-chat-list li .close {
	display    : none;
	float      : left;
	width      : 13px;
	height     : 30px;
	background : url('img/icons.png') no-repeat scroll 0 -9px;
}

.michat-container .michat-left .michat-chat-list-container .michat-chat-list li .close:hover {
	background : url('img/icons.png') no-repeat scroll -15px -9px;
}

.michat-container .michat-left .michat-chat-container {
	float            : left;
	width            : 500px;
	height           : 389px;
	background-color : #ffffff;
}

.michat-container .michat-left .michat-chat-container .michat-chat-pannel {
	height     : 229px;
	overflow-y : auto;
	overflow-x : hidden;
	padding    : 10px;
}

.michat-container .michat-left .michat-chat-container .michat-chat-pannel div {
	margin : 5px 0;
}

.michat-container .michat-left .michat-chat-container .michat-chat-pannel img {
	cursor    : url('img/big.cur'), auto;
	display   : inline;
	margin    : 0;
	padding   : 0;
	border    : 0;
	max-width : 350px;
}

.michat-container .michat-left .michat-chat-container .michat-chat-pannel a {
	text-decoration : underline;
	margin          : 0 5px;
}

.michat-container .michat-left .michat-chat-container .michat-chat-pannel .chat-content {
	width         : 360px;
	background    : rgba(0, 100, 0, 0.2);
	*background   : rgb(90,200,90);
	border        : 1px solid #aaaaaa;
	border-radius : 3px;
	padding       : 5px 5px;
}

.michat-container .michat-left .michat-chat-container .michat-chat-tool {
	position    : relative;
	line-height : 30px;
	height      : 30px;
	background  : rgba(225, 225, 225, 0.9);
	*background : rgb(210,210,210);
}

.michat-container .michat-left .michat-chat-container .michat-chat-tool .toolState {
	line-height : 25px;
	position    : absolute;
	top         : -25px;
	left        : 0;
	width       : 100%;
	height      : 25px;
	background  : rgba(50, 200, 50, 0.7);
	*background : rgb(80,230,80);
	display     : none;
}

.michat-container .michat-left .michat-chat-container .michat-chat-tool .toolState .left {
	float : left;
	width : 90%;
}

.michat-container .michat-left .michat-chat-container .michat-chat-tool .toolState .right {
	float      : left;
	width      : 10%;
	text-align : right;
}

.michat-container .michat-left .michat-chat-container .michat-chat-tool div {
	cursor : pointer;
}

.michat-container .michat-left .michat-chat-container .michat-chat-tool .tool {
	position    : relative;
	float       : left;
	margin-left : 5px;
	cursor      : pointer;
	height      : 18px;
}

.michat-container .michat-left .michat-chat-container .michat-chat-tool input {
	position : absolute;
	top      : 5px;
	left     : 4px;
	width    : 45px;
	height   : 20px;
	opacity  : 0;
	cursor   : pointer;
}

.michat-container .michat-left .michat-chat-container .michat-chat-tool .tool:hover {
	color : blue;
}

.michat-container .michat-left .michat-chat-container .michat-chat-tool .img {
	margin         : 4px;
	float        : left;
	vertical-align : top;
	height         : 20px;
	width          : 20px;
	background     : url('img/icons.png') no-repeat -158px -237px scroll transparent;
	cursor         : pointer;
}

.michat-container .michat-left .michat-chat-container .michat-chat-tool .file {
	margin         : 4px;
	float        : left;
	vertical-align : top;
	height         : 20px;
	width          : 20px;
	background     : url('img/icons.png') no-repeat -200px -235px scroll transparent;
	cursor         : pointer;
}

.michat-container .michat-left .michat-chat-container .michat-chat-tool .history {
	margin-right : 5px;
	float        : right;
}

.michat-container .michat-left .michat-chat-container .michat-chat-tool .history:hover {
	color : blue;
}

.michat-container .michat-left .michat-chat-container .michat-chat-input textarea {
	width  : 100%;
	height : 80px;
	border : 0;
	resize : none;
}

.michat-container .michat-left .michat-chat-container .michat-chat-bottom {
	border-top  : 1px solid #aaaaaa;
	cursor      : pointer;
	line-height : 30px;
	height      : 31px;
	background  : #dddddd;
}

.michat-container .michat-left .michat-chat-container .michat-chat-bottom .send {
	cursor     : pointer;
	float      : right;
	background : url('img/bg_send.png') 0 -0px scroll transparent;
	width      : 51px;
	height     : 29px;
}

.michat-container .michat-left .michat-chat-container .michat-chat-bottom .send:hover {
	float      : right;
	background : url('img/bg_send.png') 0 -30px scroll transparent;
}

.michat-container .michat-left .michat-chat-container .michat-chat-bottom .warn{
	float      : right;
	margin-right: 5px;
}

.michat-container .michat-right-foot {
	position    : absolute;
	bottom      : 0;
	right       : 0;
	height      : 29px;
	line-height : 29px;
	width       : 200px;
	background  : #0B8AEE;
	cursor      : pointer;
	border      : 1px solid #fff;
	border-radius: 5px;
	opacity: .8;
	color: #fff;
	box-shadow: 0 1px 5px rgba(16, 144, 216, 0.66), 0 0 50px rgba(0, 0, 0, 0.34) inset;
}

.michat-container .michat-right-foot .sign {
	margin-left : 20px;
}

.michat-container .michat-left-foot {
	display      : none;
	padding-left : 15px;
	position     : absolute;
	bottom       : 0;
	right        : 201px;
	width        : 200px;
	border       : 1px solid #aaaaaa;
	cursor       : pointer;
	line-height  : 29px;
	height       : 29px;
	background   : #dddddd;
}







.diamond{   
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865475, M12=-0.7071067811865477, M21=0.7071067811865477, M22=0.7071067811865475, SizingMethod='auto expand')";   
        filter: progid:DXImageTransform.Microsoft.Matrix(   
            M11=0.7071067811865475,   
            M12=-0.7071067811865477,   
            M21=0.7071067811865477,   
            M22=0.7071067811865475,   
            SizingMethod='auto expand'   
        );   
        -moz-transform: rotate(45deg);   
        -o-transform: rotate(45deg);   
        -webkit-transform: rotate(45deg);   
        -ms-transform: rotate(45deg);   
        transform:rotate(45deg);   
  
  
        }   
        :root .diamond{filter:none\9;}/*ie9 hack*/  
  		.tips{
	  		box-shadow: 0 1px 5px rgba(243, 156, 25, 0.66), 0 0 50px rgba(245, 239, 239, 0.34) inset;
		
			margin-left: 120px;
			position: absolute;
			background: #EC820F;
			border: 1px solid #FAF7F5;
			padding: 1px 3px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
			
  		}
  		.tips a{
  			color: #fff !important;
  		}
  		.tips a:HOVER{
  			color: #fff !important;
  			text-decoration: none;
  		}
        .tips-left{
        	position:absolute;
        	box-shadow: 0 1px 5px rgba(243, 156, 25, 0.66), 0 0 50px rgba(245, 239, 239, 0.34) inset;
        	display:block;
        	width:4px;
        	height:4px;
        	font-size:0;
        	background: #EC820F;
        	border-left:1px solid #FAF7F5;
        	border-bottom:1px solid #FAF7F5;
        	left:-4px;
        	left:-6px\9;
        	_left:-7px;
        	top:10px;}
    	