div(style="text-align:center", ng-show="showFollowUser")
  pagination(boundary-links="true", ng-click="goToFollowPage(followCurrentPage)",max-size="maxSize",rotate="false", total-items="folloTtotalItems",items-per-page="followItemsPerPage", page="followCurrentPage", class="pagination-sm" ,previous-text="<", next-text=">" ,first-text="<<" ,last-text=">>")


