div(style="text-align:center", ng-show="showAllUser")
  pagination(boundary-links="true", ng-click="goToPage(currentPage)",max-size="maxSize",rotate="false", total-items="totalItems",items-per-page="itemsPerPage", page="currentPage", class="pagination-sm" ,previous-text="<", next-text=">" ,first-text="<<" ,last-text=">>")


