.container
    .row
        .col-md-8.col-md-offset-2
            .row.profile-edit
                .col-md-8
                    include _edit_body
                .col-md-4
                    include _edit_menu
