.container
  .row.notifications
    .col-md-8
      section.categories
        div(uploadify-directive="fileUpload", id="fileUpload") 上传文件
        .div(ng-show="afterUpload")
          jcrop-directive(src="userImg",option="userImgOption")
          input(type="button", ng-click="saveUserImg()", value="保存头像", ng-disabled="updateImageFlag")
